daq_job_type = "DAQJobCAENDigitizer"

## --------------------- Connection Settings ---------------------
connection_type = "OPTICAL_LINK"  # or "OPTICAL_LINK", "PCI_EXPRESS_A4818", "PCI_EXPRESS_A2818"
link_number = "1"        # Link number, PID, or hostname depending on connection_type
conet_node = 0           # CONET node for optical link
vme_base_address = 0     # VME base address

channel_enable_mask = 0xFFFF
channel_self_trigger_channel_mask = 0xFFFF
channel_self_trigger_threshold = 750
max_num_events_blt = 1

[store_config.raw]
file_path = "caen_digitizer.csv"
add_date = true
